<aside class="sidebar">

  <div class="sidebar__brand">

    <div class="sidebar__logo">
      <img src="/assets/logo.png" alt="GMS Logo">
    </div>

    <div class="sidebar__brand-text">
      <span class="sidebar__name">GMS Gym Manager</span>

    </div>

  </div>

  <nav class="sidebar__nav">

    <a
      *ngFor="let item of items"
      class="sidebar__link"
      [routerLink]="item.route"
      routerLinkActive="is-active"
      [routerLinkActiveOptions]="{ exact: item.route === '/dashboard' }"
      (click)="navigate.emit()"
    >

      <mat-icon>{{ item.icon }}</mat-icon>

      <span>{{ item.label }}</span>

    </a>
  
    <div class="sidebar__contact">

      <div class="sidebar__contact-title">
        <mat-icon>contact_support</mat-icon>
        <span>Contact Us</span>
      </div>

      <div class="sidebar__contact-info">

        <div>
          <mat-icon>email</mat-icon>
          <span>gmsemail@gmail.com</span>
        </div>

        <div>
          <mat-icon>phone</mat-icon>
          <span>+20 01001234567</span>
        </div>

        <div>
          <mat-icon>location_on</mat-icon>
          <span>123 El Nasr Road, Nasr City, Cairo, Egypt</span>
        </div>

      </div>

    </div>

  </nav>
  
  <div class="sidebar__promo">
    <mat-icon>rocket_launch</mat-icon>
    <p>
      Track workouts, stay consistent, become your best self.
    </p>

  </div>

</aside>
